@extension_name
Udemy Plus

@extension_description
Udemy Plus fügt Ihrem Lieblings-Udemy neue Funktionen hinzu.

@loading_please_wait
Laden, bitte warten

#==== Course content ====
@mark_all_completed
✔ Markiere alles erledigt

@mark_all_uncompleted
❌ Alles als unvollständig markieren

@dark_theme
Dunkles Thema

@dark_theme_on
Auf

@dark_theme_off
Aus

@upcoming_features
Teilen Sie uns mit, welche Funktionen Sie als Nächstes mit <strong> tulpar.dev@gmail.com </ strong> sehen möchten
