@extension_name
Udemy Plus

@extension_description
Udemy Plus adds new features on top of your favorite Udemy.

@loading_please_wait
Loading, please wait

#==== Course content ====
@mark_all_completed
✔ Mark all completed

@mark_all_uncompleted
❌ Mark all uncompleted

@dark_theme
Dark Theme

@dark_theme_on
On

@dark_theme_off
Off

@upcoming_features
Let us know what features you would like to see next using <strong>tulpar.dev@gmail.com</strong>
