@extension_name
Udemy Plus

@extension_description
Udemy Plus ajoute de nouvelles fonctionnalités en plus de votre Udemy préféré.

@loading_please_wait
Chargement, veuillez patienter

#==== Course content ====
@mark_all_completed
✔ Marquer tout regardé

@mark_all_uncompleted
❌ Marquer tout non suivi

@dark_theme
Thème sombre

@dark_theme_on
Sur

@dark_theme_off
De

@upcoming_features
Faites-nous savoir quelles fonctionnalités vous aimeriez voir ensuite en utilisant <strong>tulpar.dev@gmail.com </strong>
