@extension_name
Udemy Plus

@extension_description
O Udemy Plus adiciona novos recursos além do seu Udemy favorito.

@loading_please_wait
Carregando, por favor espere

#==== Course content ====
@mark_all_completed
✔ Marque tudo concluído

@mark_all_uncompleted
❌ Marcar todos incompletos

@dark_theme
Tema escuro

@dark_theme_on
Em

@dark_theme_off
Fora

@upcoming_features
Deixe-nos saber quais recursos você gostaria de ver em seguida usando <strong> tulpar.dev@gmail.com </strong>

