@extension_name
Udemy Plus

@extension_description
Udemy Plus добавляет новые функции поверх вашего любимого Udemy.

@loading_please_wait
Загрузка, пожалуйста подождите

#==== Course content ====
@mark_all_completed
✔ Отметить все как просмотренное

@mark_all_uncompleted
❌ Отметить все как непросмотренное

@dark_theme
Темная тема

@dark_theme_on
Вкл

@dark_theme_off
Выкл

@upcoming_features
Сообщите нам, какие функции вы хотели бы увидеть через <strong>tulpar.dev@gmail.com </strong>
