@extension_name
Udemy Plus

@extension_description
Udemy Plus, en sevdiğiniz Udemy'ye yeni özellikler ekler.

@loading_please_wait
Yükleniyor lütfen bekleyin

#==== Course content ====
@mark_all_completed
✔ Tamamlandı olarak işaretle

@mark_all_uncompleted
❌ Tamamlanmamış olarak işaretle

@dark_theme
Koyu Tema

@dark_theme_on
Açık

@dark_theme_off
Kapalı

@upcoming_features
<strong>tulpar.dev@gmail.com</strong> adresini kullanarak istediğiniz özellikleri bize bildirin.
